:root{
    --font-inter:"Inter", sans-serif;
    --font-space:"Space Grotesk", sans-serif;
    --bg-white:white;
    --bg-black:black;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
.all{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container__Pomodoro{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    gap: 30px;
    
}
.container__Pomodoro .container__Buttons{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 14px;
}

.container .button__iten{
    width: 140px;
    font-family: var(--font-space);
    font-weight: bold;
    color:var(--bg-white);
    background-color: transparent;
    border: 2px solid var(--bg-white);
    border-radius: 30px;
    font-size: 1.3em;
    padding: 8px 8px;
   
}
.container .button__iten:hover{
    cursor: pointer;
    color: black ;
    background-color: white ;
}

.container__Pomodoro .active{
    color: black ;
    background-color: white ;
}

.container__timer .timer {
    font-family: var(--font-space);
    font-weight: bold;
    color: var(--bg-white);
    font-size: 7.5rem;

}
.controller__Pomodoro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.container__Pomodoro .startPause{
    width: 140px;
    font-family: var(--font-space);
    font-weight: bold;
    color:var(--bg-black);
    background-color: white;
    border: 2px solid var(--bg-white);
    border-radius: 30px;
    font-size: 1.3em;
    padding: 8px 8px;
}
.container__Pomodoro .startPause:hover{
    background-color: transparent;
    color: var(--bg-white);
    cursor:pointer
}
.container__Pomodoro .refresh{
    background-color: transparent;
    border: none;
}
.container__Pomodoro .refresh:hover{
    cursor: pointer;
}
.config__btn .fa-gear{
    color: var(--bg-white);
    font-size: 4em;
}
.config__btn:hover{
cursor: pointer ;
}
.none{
    display: none;
}
.container__Geral-Config{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: 1;
  
}
.container__Config{
    background-color: black;
    height: 400px;
    width: 400px;
    font-style: var(--font-inter);
    color: white;
    position: relative;
    padding: 10px;
    border-radius: 10px;
}
.close__Config{
    color: white;
    position: absolute;
    right: 0.1%;
    transform: translate(-0,-50%);
    font-size: 18px;
}
.close__Config:hover{
    cursor: pointer;
}
.nav__itens {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 13px;
}
.select { 
    text-decoration: underline;
}
.btn__Config{
font-size: 17px;
color: white;
}
.btn__Config:hover{
    cursor: pointer;
}
.config__Geral__Iten{
   position: absolute;
   left: 50%;
   top:8%;
   transform: translate(-50%,-50%);
   
}
.config__Geral__Iten p {
    font-size: 18px;
    margin-bottom: 0.5em;
}
#opTheme{
    width: 180px;
    background-color: transparent;
    color: #ccc;
    padding: 4px;
}
/* #opTheme option{
    color: black;
} */
#opTheme option{
    color:white; 
    font-family: var(--font-inter);
    background-color: black;
}
.config__Timer__Iten{
    position: absolute;
    left: 60%;
    top: 11%;
    transform: translate(-50%,-50%);
}
.controlle__tempo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.timer__Input{
    width: 53px;
    background-color: transparent;
    height: 24px;
    margin-top: 5px;
    color: white;
    border: 1px solid #ccc;
    padding: 3px 7px;
    font-size: 18px;
}
.config__timer-box p{
    font-size: 15px ;
}
.config__timer-box sub{
    color: #ccc;
}
.config__Sound__iten{
    
    position: absolute;
    left: 60%;
    top:13%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
    
}
#opSound{
    margin: 6px 0px 8px 0px;
    width: 150px;
    color: #ccc;
    background-color: transparent;
    padding: 3px ;
}
#opSound option{
   color:white; 
   font-family: var(--font-inter);
   background-color: black;
    
}
.config_Historico{
    position: absolute;
    left: 55%;
    top:13%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
}
.config_Historico .box{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}
.config_Historico .flex div {
    width: 60px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.config_Historico  p{
    font-size: 12px;
}
.config_Historico .flex{
    display: flex;
    gap:20px;
}
.containerHistorico{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}
.btnLimpaHistorico{
    color: white;
    border: 1px solid white;
    padding: 7px;
    font-size: 16px;
    border-radius: 6px;
}
.btnLimpaHistorico:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}
footer{
    position: absolute;
    top:80%;
    width: 100%;
}
.spotifyContainer{
    width: 340px;
    margin-left: 24px;
}
